.button, .custom{
    min-width: 5em;
    height: 5em;
    border: 1px solid #7781d3;
    outline: none;
    padding: 0;
    margin: 5px 5px;
    overflow: hidden;
    padding: 0 11px;
    text-overflow: ellipsis;
    border-radius: 0.3em;
    box-shadow: 0 0 11px -5px #cbcbcb;
    background-color: darkcyan;
    animation: pulseBtn 2s infinite;
}
.custom{
    background-color: #CCF600	;
}
@keyframes pulseBtn {
    0%{
        border: 1px solid #7781d3;
    }
    50%{
        border: 1px solid #a6a4a7c4;
    }
    100%{
        border: 1px solid #7781d3;
    }
}